<h2 class="page-header"><%= book.title %></h2>
<img src="<%= book.coverImagePath %>" height="150" width="100">
<div>Author: <%= book.author.name %> </div>
<div>Published: <%= book.publishDate.toDateString() %> </div>
<div>Page Count: <%= book.pageCount %> </div>
<div>Description: <%= book.description %> </div>

<div class="btn-row">
<a class="btn" href="/books/<%= book.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/books/${book.id}`}) %>
</div> 
<br>
<div class="btn-row">
<a class="btn" href="/authors/<%= book.author.id %>">Author Page</a>
</div>
